.masthead{
	background: url(../images/neon.jpg) no-repeat bottom center scroll;
	background-size: 100% 100%;
	border-right: 50px solid #ffc107;
	border-left: 50px solid #ffc107;
							
}

.brand-heading{
	color: white;
	font-style: italic;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;
}

#headerText {
	border: 5px solid #5f93af;
	background-color: #001a4d;

}

#about{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #001a4d;
	border-right: 50px solid #ffc107;
	border-left: 50px solid #ffc107;

}

#team{
	border-top: 5px solid #5f93af;
	border-bottom: 5px solid #5f93af;
	font-size: 45px;
	color: white;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;
}

.icons {
	color: #5f93af;
}

#team2{
	color: white;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

#download{
	background: url(../images/phoneWoodLogo.jpg);
	background-size: 100% 100%;
	border-bottom: 10px solid #ffc107;
	/*border-top: 10px solid #ffc107;*/
	border-right: 50px solid #ffc107;
	border-left: 50px solid #ffc107;
}

#contact{
	background-color:  #ffc107;

}

#Subscribe{
	margin-left: 35%;
	border-top: 5px solid #001a4d;
	border-bottom: 5px solid #001a4d;
	font-size: 60px;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;
}

#Copyright{
	font-size: 16px;
	color: white;
	background-color: black;
	height: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-right: 30px solid #ffc107;
	border-left: 30px solid #ffc107;
}

.network-name{
	color: white;
}

.navbar{
	font-size: 20px;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

#buttonColor{
	background-color: #001a4d;
	color: black;
}

@font-face {
	font-family: neon1;
	src: url(fonts/beon-webfont.ttf);

}

.fonts {
	font-family: neon1;
}

body {
	color: #ffc107;
}