body{
    background: url("http://kenikin.com/w/foggy-forest-Wallpaper-Wide-number-m2Q.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#materialFormSubscriptionNameEx{
    color: white;
}

#materialFormSubscriptionEmailEx{
    color: white;
}

#addQuestion{

    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

#header{
    font-size: 80px;
    color: white;
}

#text{
    color: white;
    border-color: white;
}

.btn{
    color: white;
}

#name-email{
    
     color: white;
    font-size: 20px;
}

.card {
  margin: 20px 20px 20px 20px;
}
