body {

	background: url("https://i.pinimg.com/originals/2b/64/e4/2b64e4ae077ca23f65f88531a202590e.jpg")center center fixed; 
        height: 600px;
        position: static;

      /*  background: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F158678%2Fgarage-door-texture-wooden-wall-panels-158678.jpeg%3Fw%3D940%26h%3D650%26dpr%3D2%26auto%3Dcompress%26cs%3Dtinysrgb")center center fixed; 
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/


}

@font-face {
	font-family: neon1;
	src: url(fonts/beon-webfont.ttf);

}

.fonts {
	font-family: neon1;
}

#counter{
	float: right;
	color: white;
	font-family: neon1;
/*	margin-top: 50px;
  	margin-left: 75%;*/
	font-size: 50px;
}

#instructions{
	font-family: neon1;
	text-align: center;
	color: white;
	margin-bottom: 0px;
	margin-top: 40px;
	text-shadow: 0 0 5px white, 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 35px white, 0 0 55px white;
	font-style: italic;

}

#button5 {
	color: white;
	font-size: 40px;
	text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
	background-color: #001a4d;


} 

.font{

font-size: 35px;
font-family: neon1;
color:  white;
text-shadow: 0 0 5px #ffc107, 0 0 5px #ffc107, 0 0 10px #ffc107, 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 35px #ffc107, 0 0 55px #ffc107;
text-align: center;
padding-top: 10%;
font-style: italic;
}

.dropdown-menu{
	opacity: .8;
	background-color: #001a4d;
	color: white;
}

.dropdown-item{
	color: white;
	/* text-align:  */
}

#cardstyle{
	font-family: neon1;
	background-color: #001a4d;
	border: 1px solid #ffc107;
	text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
	text-align: center;
    margin-bottom: 50px;
    
}

.btn{
	font-family: neon1;
	background-color: #333333;
}


#individualTopic.hide {
	display: none !important;
}

#individualTopic{
	margin-top: 40px;
	margin-bottom: 20px;

}

.opacity {
	opacity: 0.2;
}

.Header{
	font-family: neon1;
	color: white;
	border-bottom: 3px solid #ffc107;
	text-align: center;
	font-style: italic;
}

#popup{
	background-color: #001a4d;
	border: 1px solid #ffc107;
	
}

#youtubeDIV{
	font-family: neon1;
	color: white;
	text-align: center;
	text-decoration: underline;
    text-decoration-color: #ffc107;
	padding-top: 2%;

}

.youtubeDIV{
	text-align: center;
}


#quoteDIV{
	font-family: neon1;
	color: white;
	text-align: center;
	text-decoration: underline;
    text-decoration-color: #ffc107;
	padding-top: 2%;
	
}
#challengeDIV{
	font-family: neon1;
	text-align: center;
	color: white;
	text-decoration: underline;
    text-decoration-color: #ffc107;
   
}

#underline{
	text-decoration: underline;
    text-decoration-color: #ffc107;
}

.quoteDIV{
	font-family: neon1;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-bottom: 2%;
	

}
.challengeDIV{
	font-family: neon1;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-bottom: 2%;
	
}

#back{
	text-align: center;
	padding-bottom: 2%;
}

#progress{
	/*color: black;
	font-weight: bold;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;*/
  font-family: neon1;
color:  white;
text-shadow: 0 0 5px #ffc107, 0 0 5px #ffc107, 0 0 10px #ffc107, 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 35px;
}

.progress{
margin-bottom: 50px;
}

.completeBtn{
	font-family: neon1;
	background-color: #333333;
	color: white;
}

